
@media only screen and (max-width: 1175px) {
    .navbar {
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-out;
        height: 450px;
    }

    .navlist {
        flex-direction: column;
    }

    #search {
        display: block;
        margin: auto;
        padding: 5px 15px;
        border-radius: 10px;
    }

    .rightnav {

        text-align: center;


    }
   
    .burger{
        display: block;}
    .h-nav-resp{
        height: 72px;
    }    
    .v-class-resp{
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
    max-width: 100%;
    }
    .section{
        flex-direction:column-reverse;
    }
    .text-big{
        text-align: center;

    }
    .text-small{
        text-align: center;
    }
    .text-footer{
        text-align: center;
    }
    .button{
        text-align: center;
    }
    .para{
        padding: 10px 4px;
    }
    .first-half{
        margin-top: 25px;
    }
    .second-half{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .second-half img{
        margin-top: 88px;
    }


}

